* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #4891ff;
  --light-color: #f4f4f6;
  --dark-color: #111;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Navbar */
.navbar {
  background-color: #fff;
  padding: 20px;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .main-menu ul {
  display: flex;
  align-items: center;
  gap: 10px;
}
.navbar ul li a {
  padding: 10px 15px;
  display: block;
  font-weight: 600;
  transition: color 0.5s;
}
.navbar ul li a:hover {
  color: var(--primary-color);
}
.navbar ul li:last-child a {
  margin-left: 10px;
}
.hamburger-button {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1000;
}
.hamburger-line {
  width: 30px;
  height: 3px;
  background: #333;
  margin: 6px 0;
}
.mobile-menu {
  position: fixed;
  top: 0;
  right: -300px;
  width: 250px;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: right 0.5s ease-in-out;
}
.mobile-menu.active {
  right: 0;
}
.mobile-menu ul {
  margin-top: 100px;
  padding-right: 10px;
}
.mobile-menu ul li {
  margin: 10px 0;
}

.mobile-menu ul li a {
  font-size: 20px;
  transition: 0.3s;
}

/* Hero */
.hero {
  margin-bottom: 50px;
}
.hero .container {
  background: url("../images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}
.hero .hero-content {
  width: 70%;
}
.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}
.hero .hero-buttons a {
  margin: 5px;
}

/* Video */
.video {
  padding: 10px 0 40px;
}
.video-preview {
  margin-bottom: 20px;
}
.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Testimonials */
.testimonials {
  padding: 20px 0;
}
.testimonials-heading {
  width: 700px;
  margin-bottom: 40px;
}
.testimonials-content {
  overflow-x: scroll;
}
.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
  overflow-x: scroll;
}
.testimonials-grid .card {
  width: 300px;
}
.testimonials-text {
  font-style: italic;
  font-weight: 300;
}
.testimonials-name {
  font-weight: 700;
  margin-top: 10px;
}
.testimonials-from {
  font-weight: 300;
  font-size: 0.8rem;
}
/* Pricing */
.pricing-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
.pricing-card-subheading {
  font-weight: 300;
  font-size: 0.9rem;
}
.pricing-card-price {
  font-weight: 300;
  font-size: 0.9rem;
  margin-top: 20px;
}
.pricing-card-body ul {
  margin: 30px 0;
}
.pricing-card-body ul li {
  margin-bottom: 20px;
}
.pricing-card-body ul li i {
  margin-right: 10px;
}
.pricing-footer {
  margin: 20px 0;
}

/* FAQ */
.faq {
  padding: 20px 0;
}
.faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}
.faq-group-header {
  padding-bottom: 20px 0;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
.faq-group-header i {
  position: absolute;
  top: 10px;
  right: 10px;
}
.faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}
.faq-group-body {
  display: none;
}
.faq-group.open .faq-group-body {
  display: block;
}

.faq-menu {
  max-width: 400px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ddd;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: 600px;
}
.faq-menu li {
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
}
.faq-menu li.active {
  background: var(--primary-color);
  color: #fff;
}

/* Footer */
.footer {
  padding: 40px 0;
}
.footer h4 {
  margin-bottom: 10px;
}
.footer ul li {
  line-height: 2.5;
}
.footer ul li a {
  color: #ccc;
}
.footer-grid {
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 30px;
}
.footer .card {
  margin: 30px 0 10px;
}
.footer form {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.footer form input {
  padding: 15px;
  width: 100%;
  border-radius: 10px;
  margin-right: 10px;
}
.footer i {
  margin-right: 10px;
  font-size: 1.2rem;
  color: #ddd;
}

/* Utility Classes */
/* Containers */
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}
/* Cards */
.card {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}
/* Background */
.bg-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.bg-light {
  background-color: var(--light-color);
  color: #333;
}
.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.bg-black {
  background-color: #000;
  color: #fff;
}

/* Buttons */
.btn {
  display: inline-block;
  padding: 13px 20px;
  background-color: var(--light-color);
  border-radius: 10px;
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s;
  text-align: center;
}
.btn:hover {
  opacity: 0.8;
}
.btn i {
  margin-right: 10px;
}

.btn-primary {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-dark {
  background-color: var(--dark-color);
  color: #fff;
}
.btn-block {
  display: block;
  width: 100%;
}
/* Texts */
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}
.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}
.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}
.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}
.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}
.text-center {
  text-align: center;
}

/* MediaQueries */
@media (max-width: 960px) {
  .text-xxl {
    font-size: 2.5rem;
  }
}
@media (max-width: 670px) {
  .main-menu {
    display: none;
  }
  .hamburger-button {
    display: block;
  }
  .hero .container {
    background: url("../images/hero-bg-mobile.png") no-repeat;
    background-size: 350px;
    background-position: bottom;
    height: 770px;
  }
  .hero .hero-content,
  .hero .hero-text {
    width: 100%;
    text-align: center;
  }
  .hero .hero-buttons .btn {
    display: block;
    margin-bottom: 10px;
    width: 100%;
  }
  .text-xl {
    font-size: 1.9rem;
    padding: 10px 8px;
  }
  .text-lg {
    font-size: 1.5rem;
  }
  .text-md {
    font-size: 1.1rem;
  }
  .pricing-grid {
    grid-template-columns: 1fr;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
  .footer-grid div {
    text-align: center;
  }
}
@media (max-width: 500px) {
  .text-xxl {
    font-size: 2rem;
  }
}
